<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= "Helloword".toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est harum neque illum similique debitis tempora praesentium, quae incidunt nostrum a ea eligendi obcaecati quas hic cumque, accusantium rerum quasi. Sapiente!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nulla perferendis nobis velit iure ea facilis nesciunt molestias temporibus voluptate accusamus hic assumenda exercitationem alias inventore veritatis ex perspiciatis culpa!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fuga recusandae sapiente in nobis. Odio animi recusandae vero, consequatur mollitia nisi inventore autem earum deleniti ullam, quas cum ad officia.</p>

</body>
</html>